.nf_discount_popup {
    .get-discount-type {
        display: flex;
        justify-content: space-around;
    
        .contenet{
            display: flex;
            margin: 10px !important;
        }
    
        .nf-price-discount {
            font-size: 10px !important;
            width: 100% !important;
            min-height: 25px !important;
            box-shadow: none !important;
        }
    }
}
.nf-pos-discount{
    position: absolute;
    text-align: left;
    top: 0.5rem;
}