.pos{
    .popup-split-confirm{
        main{
            margin: 0 !important;
        } 
        table{
            thead{
                tr{
                    td{
                        border: 1px solid #eee;
                        padding: 10px !important;
                        background: #eee;
                        h4{
                            text-align: center;
                            margin: 0px;
                            margin-bottom: 7px;
                            padding: 7px; 
                            font-weight: bold;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 10px !important;
                        border: 1px solid #eee;
                    }   
                }
            }
        }
    }
}