.product-price-strip {
    background-color: #9a9ea180;
    color: #145a32;
    font-size: 0.85rem;
    line-height: 1.4;
    padding: 1px 4px;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
}
