.product-price-strip {
    background-color: #c3f0c9;
    color: #1f3922;
    font-size: 0.85rem;
    line-height: 1.4;
    padding: 1px 4px;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
}
